// uni 弹窗样式覆盖
uni-modal .uni-modal {
  width: 538.46rpx;
  border-radius: 15.38rpx;

  .uni-modal__hd {
    padding: 38.46rpx 38.46rpx 23.08rpx;
    color: rgba(23, 26, 29, 1);
  }
  .uni-modal__title {
    font-size: 32.69rpx;
    font-weight: 500;
  }
  .uni-modal__bd {
    padding: 0 38.46rpx 30.77rpx;
    color: rgba(23, 26, 29, 0.6);
    line-height: 38.46rpx;
    font-size: 26.92rpx;
  }
  .uni-modal__btn {
    font-size: 30rpx;
    font-weight: 400;
    &::after {
      border-color: rgba(236, 236, 236, 1);
    }
  }
  .uni-modal__ft:after {
    border-color: rgba(236, 236, 236, 1);
  }
}
